<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book slot</title>

</head>
<body>
    <table border = 1>
    {% for key in data %}

    <tr>
        <form action="http://127.0.0.1:5000/bookslot" method="POST">
        
       <th><input type="submit" 
        value={{ key }} 
        name="submit"
        ></th>
    </form>
    </tr>

    {% endfor %}
 </table>
</body>
</html>