{% extends "base.html" %}
{%block body%}
{{super()}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}<title>Home</title> {%endblock%}

</head>
<body>

  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-4 mx-auto m-5">
        <!-- Your content here -->
        {{data}}
        {{arr}}
        <h6>Scan Qr code to confirm your Appointment</h6>

      
        <div  >
          <img id="myimage" align="center" src="{{url_for('qrcode.video_feed') }}" alt="Webcam feed" width="500" height="375">
        </div>

        <div id="result" ></div>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger m-2 p-2" role="alert">
        {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success m-2 p-2" role="alert">
        {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
      </div>
    </div>
  </div>

    
  <script>
    setInterval(() => {
    fetch('/confirm_qr')
    .then(response=>response.json())
    .catch(error => console.log(error));
  }, 10000);
  
  </script>


  

</body>
</html>
{%endblock%}
