{%extends 'base.html'%}
{%block body%}
{%if account%}
<div class="container">
    <div class="d-flex" style="height:80vh">
        <div class="card mx-auto my-auto" style="width: 30rem;">
            <div class="card-body">
                <h5 class="text-center">Profile</h5>
                <!-- <p class="card-text text-center">Name:{{account[4]}}</p> -->

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">Name:</p>
                        </div>
                        <div class="col-6">
                            <p class="card-text">{{account[4]}}</p>
                        </div>
                    </div>
                </div>
                
                <!-- <p class="card-title text-center" name="username">Username:{{username}}</p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">Username:</p>
                        </div>
                        <div class="col-6">
                            <p class="card-text">{{account[1]}}</p>
                        </div>
                    </div>
                </div>
                
                <!-- <p class="card-text text-center">Email:{{account[3]}}</p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">Email:</p>
                        </div>
                        <div class="col-6">
                            <p class="card-text">{{account[3]}}</p>
                        </div>
                    </div>
                </div>
                {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger m-2 p-2" role="alert">
        {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success m-2 p-2" role="alert">
        {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
                {% if slot_account%}
                <!-- Show is slot booked here or not -->
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-header">
                                <h3>Your Booked Slot</h3>
                              </div>
                        </div>
                        <div class="col-6">
                            <p class="card-text m-2">Slot Time: {{slot_account[0]}}</p>
                            <p class="card-text m-2">Slot Date: {{slot_account[1]}}</p>
                            <form action="{{url_for('bookslot.cancel_by_user')}}"  method="post">
                                <input type="hidden" value={slot_account[0]} name={slot_account[0]}>
                                <input type="submit" class="btn btn-primary" value="Cancel">
                            </form>
                        </div>
                    </div>
                </div>
                {%else%}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card-header">
                                <h6 class="card-text">You haven't booked any slot yet</h6>
                              </div>
                        </div>
                        
                    </div>
                </div>
                {%endif%}

            </div>
        </div>
    </div>

{%endif%}

</div>
    
{%endblock%}